@model TheLearningHub_Hotels.Models.CTestimonialpagecontent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<h1>Edit</h1>

<h4>CTestimonialpagecontent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Testimonialpagecontentid" />
            <div class="form-group">
                <label asp-for="Projectname" class="control-label"></label>
                <input asp-for="Projectname" class="form-control" />
                <span asp-validation-for="Projectname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pagename" class="control-label"></label>
                <input asp-for="Pagename" class="form-control" />
                <span asp-validation-for="Pagename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagepathTop" class="control-label"></label>
                <input asp-for="ImagepathTop" class="form-control" />
                <span asp-validation-for="ImagepathTop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagepathMiddle" class="control-label"></label>
                <input asp-for="ImagepathMiddle" class="form-control" />
                <span asp-validation-for="ImagepathMiddle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Footerlocation" class="control-label"></label>
                <input asp-for="Footerlocation" class="form-control" />
                <span asp-validation-for="Footerlocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Footerphonenumber" class="control-label"></label>
                <input asp-for="Footerphonenumber" class="form-control" />
                <span asp-validation-for="Footerphonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Footeremail" class="control-label"></label>
                <input asp-for="Footeremail" class="form-control" />
                <span asp-validation-for="Footeremail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userloginid" class="control-label"></label>
                <select asp-for="Userloginid" class="form-control" asp-items="ViewBag.Userloginid"></select>
                <span asp-validation-for="Userloginid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

