@model TheLearningHub_Hotels.Models.CBank

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<h1>Create</h1>

<h4>CBank</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Creditcardnumber" class="control-label"></label>
                <input asp-for="Creditcardnumber" class="form-control" />
                <span asp-validation-for="Creditcardnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creditcardexp" class="control-label"></label>
                <input asp-for="Creditcardexp" class="form-control" />
                <span asp-validation-for="Creditcardexp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MONEY" class="control-label"></label>
                <input asp-for="MONEY" class="form-control" />
                <span asp-validation-for="MONEY" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

