@model TheLearningHub_Hotels.Models.CUser

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
    var user = ViewData["user"] as TheLearningHub_Hotels.Models.CUser; // Ensure correct namespace
}

<form asp-controller="Admin" asp-action="Edit" enctype="multipart/form-data">
    <div class="container-fluid pt-4 px-4">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"><i class="zmdi zmdi-camera"></i></label>
                    <input type="file" asp-for="ImageFile" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body align-items-center text-center">
                @if (!string.IsNullOrEmpty(ViewData["Error"] as string))
                {
                    <div class="alert alert-danger" role="alert">@ViewData["Error"]</div>
                }
                @if (!string.IsNullOrEmpty(ViewData["Success"] as string))
                {
                    <div class="alert alert-success" role="alert">@ViewData["Success"]</div>
                }

            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">First Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" placeholder="First Name" value="@user?.Fname" name="Fname">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Last Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" placeholder="Last Name" value="@user?.Lname" name="Lname">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" placeholder="Email" value="@user?.Email" name="email">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" placeholder="Phone Number" value="@user?.PhoneNumber" name="PhoneNumber">
                </div>
            </div>
            <hr>
            <button class="btn btn-primary btn-lg" type="submit">Save Changes</button>
        </div>
    </div>
</form>
