@model TheLearningHub_Hotels.Models.CReservation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reservationsid" />
            <div class="form-group">
                <label asp-for="CheckInDate" class="control-label"></label>
                <input asp-for="CheckInDate" class="form-control" />
                <span asp-validation-for="CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutDate" class="control-label"></label>
                <input asp-for="CheckOutDate" class="form-control" />
                <span asp-validation-for="CheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toltalprice" class="control-label"></label>
                <input asp-for="Toltalprice" class="form-control" />
                <span asp-validation-for="Toltalprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoicepdf" class="control-label"></label>
                <input asp-for="Invoicepdf" class="form-control" />
                <span asp-validation-for="Invoicepdf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roomid" class="control-label"></label>
                <select asp-for="Roomid" class="form-control" asp-items="ViewBag.Roomid"></select>
                <span asp-validation-for="Roomid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>

        </form>
    </div>
</div>

